<!doctype html>
<html ng-app>
<head>
  <title>Hello Axe Finance</title>
  <script src="angular.min.js"></script>
  <script src="hello.js"></script>
</head>

<body>
  <div ng-controller="Hello">
    <p>The ID is: {{greeting.id}}</p>
    <p>The content is: {{greeting.content}}</p>
  </div>

  <img src="axe.png" alt="Axe Finance" />
</body>
</html>
